* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: rgb(0, 132, 255);
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    /* width: 100%; */
    padding: 15px;
}

.nav-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.nav-link {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: coral;
}
