* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2f9bff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.nav-link {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
    color: rgb(255, 127, 80);
}

.logo {
    height: 100px;
    margin-left: 20px;
    border-radius: 20px;
}