@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2f9bff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-bar {
    display: flex;
    align-items: flex-end;
}

.nav-bar ul {
    padding-left: 0;
}

.nav-link {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
    color: rgb(255, 127, 80);
}

.logo {
    height: 100px;
    margin-left: 20px;
    border-radius: 20px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #2f9bff;
    color: black;
    padding: 0.5em 0 0.5em;
}
  
footer > p {
    margin-bottom: 0;
}

/* Pages */
.page {
    min-height: 78.4vh;
}


.page h3{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Not Found */
.not-found-image {
    height: 78.4vh;
}

.not-found-image img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* Home */

.home-header {
    display: flex;
    justify-content: center;
    color: black;
}

 /* Index */
 @media (min-width: 576px) {
    div.card-group {
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  
  div.card-group {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  
  }
  
  div.card {
    min-width: 300px;
    border: #ff7f50 2px solid; 
    display: flex;
    justify-content: space-between;
  }
  
  div.card-body {
    max-width: 290px;
    text-align: center;
  }
  
  @media (min-width: 576px) {
    div.card-group>.card+.card {
        margin-left: 0; 
        border-left: #ff7f50 2px solid; 
        display: flex;
        justify-content: space-between;
    }
  }

  /* Button */
  .index-button-link {
    color: white;
    text-decoration: none;
  }
  
  .index-button-link:hover {
    color: white;
    text-decoration: none;
  }

  .form-button {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
  }

  /* Form */
  form {

  }

  .form-group {
      text-align: center;
      min-width: 300px;
  }